body {
  margin: 0;
  padding: 0;
  background: #273c75;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: grid;
}

.page {
  min-width: 60vw;
}

#rockets-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 0.1fr 0.1fr;
  min-height: 80vh;
  width: 100%;
}

#rockets-page #rockets-list {
  display: grid;
  grid-template-columns: repeat(3, 0.3fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

#rockets-page #rockets-list .rocket-item {
  background: #f5f6fa;
  display: grid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
}

#rockets-page #rockets-list .rocket-item:hover {
  background: #dcdde1;
}

#rockets-page #rockets-list .rocket-item.chosen {
  background: #e1b12c;
}

#rockets-page #rockets-list .rocket-item.chosen:hover {
  background: #e1b12c;
}

#rockets-page #rockets-list .rocket-item .rocket-name {
  font-size: 24px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

#date-picker {
    align-self: center;
    justify-self: start;
    font-size: 20px;
}

#rockets-page #date-picker label {
    background: #f5f6fa;
    color: #2f3640;
    margin-right: 10px;
    padding: 10px 15px;
}


#rockets-page #search-button {
    background: #fbc531;
    color:#2f3640;
    justify-content: center;
    align-items: center;
    display: grid;
    font-size: 20px;
    cursor: pointer;
    max-width: 300px;
    margin-top: 30px;
}

#rockets-page #search-button:hover {
    background: #e84118;
}


#search-page {
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: 0.9fr;
  justify-content: center;
  align-content: center;
  margin:30px 0;
}

#search-page .launch-item {
  display: grid;
  padding:10px;
  grid-row-gap:10px;
  background: #f5f6fa;
}
